# Environment variables
.env

# Sensitive files
mnemonic.txt

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
tx-building-go

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Temporary files
tmp/
*.tmp

# IDE files
.idea/
.vscode/
*.swp
*.swo
*~
